In [7]:
# 20

In [5]:
def count(heads,legs):
    d  = (legs-2*heads)/2
    c = (4*heads-legs)/2
    print(type(d))
    
#     d+c = heads
#     4d+2c = legs

    return d,c

In [6]:
count(8,24)

<class 'float'>

(4.0, 4.0)

In [8]:
# 21

In [12]:
def swap(x,y):
    global a
    global b
    a =x,
    b =y
    temp = a
    a = b
    b = temp
    
    return a,b

In [14]:
swap(x= 10,y =20)

(20, (10,))

In [15]:
a

20

In [16]:
b

(10,)

In [17]:
#22

In [24]:
def sum(n):
    return (n*(n+1))/2

In [25]:
sum(11)

66.0

In [27]:
# 23

In [30]:
def product(a,b):
    s = 0
    i = 0
    while a<=b:
        s +=a
        i = i+1
        if i==b:
            break
        
    return s

In [33]:
product(3,6)

18

In [51]:
# 24

In [48]:
def fact(n):
    i = n
    ans1 =n
    if (n ==0) or (n ==1):
        ans =1
        return ans
    else:
        while i!=1:
            i =i-1
            ans1 = i*(n-i)
#             ans2 = ans1
#             ans1 = 0
#             i-=1
        return ans1

In [52]:
# 25

In [55]:
def odd(n):
    li = []
    for i in range(n):
        if i%2!=0:
            li.append(i)
        else:
            pass
        
    return li

In [57]:
odd(100)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [58]:
# 26